@import 'vue3-toastify/dist/index.css';
@import './vue-next-select.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './typography';
@import './tooltip';
@import './transitions';

html,
body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans text-white bg-bg-dark;
    font-size: 16px;
  }
}

#app .nuxt-icon svg {
  margin-bottom: 0;
}

/* Change autfill styles:  */
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  border: none;
  -webkit-text-fill-color: theme('colors.primary');
  -webkit-box-shadow: 0 0 0px 1000px theme('colors.bg.light') inset;
}

/* Text selection */
::selection {
  color: theme('colors.body');
  background: theme('colors.bg.DEFAULT');
}

::-moz-selection {
  color: theme('colors.body');
  background: theme('colors.bg.DEFAULT');
}

/**
 * Scrollbar 
 */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.bg.dark');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.bodyDark');
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.body');
}

/** Tabs */
.tabs-component {
  &-tabs {
    @apply flex flex-nowrap gap-8 border-b-1 mb-8 border-bg-lighter overflow-x-auto text-bodyDark text-sm;
  }
  &-tab {
    @apply whitespace-nowrap pb-3 border-b-2 border-transparent;

    &.is-active,
    &:hover {
      @apply border-yellow text-white;
    }
  }
}

/** Border */
.card-border {
  @apply border-1 border-bg-lighter;
}

/** Card */
.card {
  @apply bg-bg card-border;
}
.card-dark {
  @apply bg-bg-dark card-border;
}
.card-light {
  @apply bg-bg-light card-border;
}

/** Table */
table {
  @apply w-full text-left;

  th,
  td {
    @apply h-12 p-3 border-b-1 border-bg-lighter;
  }

  th {
    @apply text-xs text-white;
  }

  td {
    @apply text-sm text-body;
  }
}

/** Vue select */
.vue-dropdown {
  @apply bg-bg z-20;
}
